footer {
  text-align: center;
  padding: 1em 0 0 0;
  color: var(--dark);
  font-size: 0.9rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-links {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.footer-box {
  width: fit-content;
  height: fit-content;
}

.footer-link {
  padding: 1rem;
  border-radius: 0.3em;
}


.footer-end-text {
  margin: 0 0 3rem 0;
  position: relative;
  bottom: 0;
}